h1 {
    color : red ;
    text-align: center;
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 20px;
}
h2 , h3 {
    color : red ;
}
.p1 {
    color : blue
}
span {
    color : red ;
    font-weight: bold;
}